body{
  display: flex;
  padding: 16px; 
}

.flex-container {
  display: flex; 
  background-color: #f1f1f1;
  height: 25rem;
  width: 1000px;
  margin: 10em 10em 10em 10em;
}

/* Individual cards */
.card-1 {
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  background-color:	#e38826; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px 10px 20px;
}


.card-2 {
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  background-color: #006970; 
  padding: 10px 20px 10px 20px;

}

.card-3{
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  background-color: #004241; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px 10px 20px;

}
/* content */
.logo-box {
  display: flex; 
  flex-direction: column;
  flex-grow: 0.5; 
  margin: 1rem 1rem 0 1rem; 
  font-family: 'Big Shoulders Display', cursive;
}

.text-box {
  display: flex; 
  flex-direction: column;
  flex-grow: 2; 
  margin: 0rem 1rem 0 1rem; 
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: white;
}

.title {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 30px;
}
/* Buttons */
.button-box {
  display: flex; 
  flex-direction: column;
  flex-grow: 1; 
  margin: 1rem 1rem 1rem 1rem; 
  align-items: flex-start;
}

.button {
  background-color:#f2f2f2;
  border: 2px solid #f2f2f2;
  color: #e38826;
  border-radius: 12px;
  padding: 5px 20px 5px 20px;
  margin-top: 2rem;
  font-family: 'Big Shoulders Display', cursive;
}

.button:hover {
  background-color: #e38826;
  border: 1px solid #f2f2f2;
  color: #f2f2f2 ;
}

#two.button {
  color: #006970
}
#two.button:hover {
  background-color: #006970;
  border: 1px solid #f2f2f2;
  color: #f2f2f2 ;
}

#three.button {
  color: #004241
}

#three.button:hover {
  background-color: #004241;
  border: 1px solid #f2f2f2;
  color: #f2f2f2 ;
}

/* Responsive Design */
@media (max-width: 999px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
  }
  .card-1 {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .card-3 {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;

  }
  body{
    flex-direction: row;
    height: 65em;
  }
}